@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model VTDSGlass.Models.Template1ViewModel
@{
    ViewBag.Title = "Index";
    <p>@Model.Title</p>
}

<h2>Index</h2>

<p>DaddyAmmaAnnayya</p>